#intro-header .jumbotron{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: unset;
    background-attachment: scroll;
}

#intro-header .jumbotron .header-details{
    text-align: center;    
    padding: 5em 0;
}

#intro-header .jumbotron .header-details h1.heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 0.6em 0 0;
    font-size: 3rem;
}

#intro-header .jumbotron .header-details p#slogan
{
    color: #fff;
}

#intro-header .jumbotron .header-details #about-anchor a{
    background-image: url(../assets/mouse_click.png);
}

.section-title{
    text-transform: uppercase;
    font-weight: 600;
}

.about{
    text-align: center;
}

.services{
    color: #fff;
    text-align: center;
    padding: 5em 0;
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.what-we-do{
    text-align: center;
}

.what-we-do .card {
    border: unset;
    padding: 1em 0;
}

.what-we-do .card .card-front img{
    height: 100px;
}

.what-we-do .card .card-front p.caption{
    text-transform: uppercase;
    padding-top: 10px;
}

.what-we-do .card .card-back{
    display: none;
}

.portfolio{
    text-align: center;
    padding: 1.5em 0 3em;
}

.portfolio .card{
    border: unset;
}

.portfolio .card-body{
    padding: unset;
}

.portfolio .card img{
    width: 100%;
}

.contact-us{
    padding-top: 1.5em;
    color: #fff;
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact-us #contact-form-wrapper{
    max-width: 80%;
    margin: 0 auto;
}

.contact-us .section-title{
    padding: 1em;
}

.contact-us input{
    color: #fff;
}
.contact-us .form-control{
    background: unset;
    border-radius: unset;
    color: #fff;
}

footer{
    padding: 3em 0 2em;
    text-align: center;
}

footer .credits{
    text-transform: uppercase;
    padding-top: 1em;
}
footer .credits p{
    margin: unset;
}

footer #footer-social a{
    padding: 0 0.5em;
}
